@charset "UTF-8";

/* 공통스타일 */
body{ overflow-x: hidden; font-family: var(--main-font); font-size: 1.6rem; line-height: 1.5; background: var(--bg-color); color: var(--main-color); -ms-overflow-style: none; }
.inner{ max-width: 1840px; margin: 0 auto; padding: 0 40px; }

section h2{ font-weight: 800; color: var(--main-color); font-size: 6rem; font-family: var(--sub-font); -webkit-text-stroke: 2px }
section h3{ font-family: var(--sub-font); font-size: 6.5rem; font-weight: 800; -webkit-text-stroke: 2px }

.btn_more{ display: flex; gap: 16px; margin-top: 24px; }
.btn_more > a{ position: relative; overflow: hidden; display: inline-flex; align-items: center; border: 2px solid rgba(38, 38, 38, 0.9); border-radius: 30px; width: 160px; height: 60px; padding: 16px 24px 14px; line-height: 1; color: var(--main-color); font-size: 2.4rem; font-weight: 700; font-family: var(--sub-font); cursor: pointer; transition: color 0.5s; z-index: 1; }

.btn_more > a .bg{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: var(--main-color); border-radius: 50%; transform: translateX(-120%) scale(0.8); transition: transform 1s cubic-bezier(0.22,1,0.36,1); z-index: -1; }
.btn_more > a:hover .bg{ transform: translateX(0) scale(2.5); }
.btn_more > a:hover{ color: #fff; }

.btn_more > a .arrow{ position: absolute; right: 24px; top: 50%; width: 20px; height: 20px; background: url(../image/main/btn_arrow.png) no-repeat center /contain; transform: translateY(-50%) rotate(0deg); transition: transform 0.4s ease, filter 0.3s ease; z-index: 2; }
.btn_more > a:hover .arrow{ transform: translateY(-50%) rotate(45deg); filter: invert(1); }



@media (max-width: 1540px) {
  section h2{ font-size: 7rem; line-height: 1.2; }
  section h3{ font-size: 5rem; }
  .btn_more > a{ width: 120px; height: 45px; padding: 16px 18px 14px; font-size: 2rem; }
  .btn_more > a .arrow{ background-size: 16px 16px; right: 18px; }
}

@media (max-width: 1440px) {
  section h3{ font-size: 4.5rem; }
  .btn_more > a{ width: 110px; height: 42px; padding: 14px 16px 12px; font-size: 1.8rem; }
  .btn_more > a .arrow{ background-size: 14px 14px; right: 16px; }
}

@media (max-width: 1200px) {
  section h2{ font-size: 5.5rem; }
  section h3{ font-size: 4.3rem; }
}

@media (max-width: 1024px) {
  section h2{ font-size: 4.5rem; }
  section h3{ font-size: 4rem; }
  .btn_more > a{ width: 105px; height: 40px; padding: 12px 14px 10px; font-size: 1.6rem; }
  .btn_more > a .arrow{ background-size: 12px 12px; right: 14px; }
}

@media (max-width: 850px) {
  section h2{ font-size: 4rem; }
  section h3{ font-size: 3.5rem; }
  .btn_more > a{ width: 110px; height: 42px; padding: 12px 14px 10px; font-size: 1.8rem; }
  .btn_more > a .arrow{ background-size: 14px 14px; right: 16px; }
}

@media (max-width: 650px) {
  section h2{ -webkit-text-stroke: 1px }
  section h3{ font-size: 3rem; -webkit-text-stroke: 1px }
  .btn_more > a{ width: 100px; height: 38px; padding: 12px 14px 8px; font-size: 1.6rem; }
  .btn_more > a .arrow{ background-size: 12px 12px; right: 14px; }
}




/* main */
#main{ position: relative; }
#main .rotate_wrap_01{ position: absolute; top: 120px; right: 15%; width: 150px; height: 150px; background: url(../image/main/leaf_s.png) no-repeat center top 30px; }
/* #main .rotate_wrap_01 .rotate_txt{ animation: rotate_txt linear 30s infinite; } */
#main .rotate_wrap_01 .rotate_txt img{ position: relative; width: auto; animation: rotate_txt linear 30s infinite; }
#main .rotate_wrap_02{ display: none; position: absolute; background: url(../image/main/leaf_s.png) no-repeat center; }
#main .rotate_wrap_02 .rotate_txt{ animation: rotate_txt linear 20s infinite; }


@keyframes rotate_txt{
  100%{ transform: rotate(360deg); }
}

@media (max-width: 950px) {
  #main .rotate_wrap_01{ display: none; }
  #main .rotate_wrap_02{ display: block; top: 150px; right: 7%; background-size: 50px; }
}

@media (max-width: 650px) {
    #main .rotate_wrap_02{ top: 38vh; right: 10%; }
}




/* visual */
.visual{ position: relative; text-align: center; height: 100vh; }
.visual .inner{ position: absolute; left: 50%; top: 8vh; transform: translate(-50%, -50px); z-index: 1; }
.visual .visual_img{ display: block; width: min(85vw, 1200px); height: auto; max-height: 95vh; object-fit: contain; }
.visual .visual_txt{ font-family: var(--sub-font); position: absolute; left: 0; top: 50%; transform: translate(0, -50%); z-index: 2; text-align: center; width: 100%; display: grid; justify-content: center; }

.visual .visual_txt h1.split{ z-index: 2; font-size: 20rem; white-space: nowrap; font-weight: 800; display: flex; letter-spacing: -5px; line-height: 1.3; }
.visual .visual_txt h1.split .space{ width: 30px; }
.visual .visual_txt p{ color: rgba(38, 38, 38, 0.5); -webkit-text-stroke: 0.5px rgba(38, 38, 38, 0.5); z-index: 2; text-align: left; font-size: 2rem; }

 @media(max-width: 1920px){
  .visual .visual_txt h1.split{ font-size: 19rem; }
 }

 @media (max-width: 1800px) {
  .visual .visual_txt h1.split{ font-size: 18.5rem; }
 }

 @media (max-width: 1650px){
  .visual .visual_txt h1.split{ font-size: 17.5rem; }
 }

 @media (max-width:1540px) {
  .visual .visual_txt h1.split{ font-size: 16.5rem; }
 }
 
 @media(max-width: 1440px){
  .visual .visual_txt h1.split{ font-size: 15rem; }
 }

 @media (max-width: 1300px) {
  .visual .visual_txt h1.split{ font-size: 14rem; }
 }

 @media (max-width: 1200px) {
    .visual .visual_txt h1.split{ font-size: 13rem; }
    .visual .visual_img{ width: 90vw; max-height: 90vh; }
 }

@media (max-width: 1024px) {
    .visual .inner{ top: 15vh; }
    .visual .visual_txt h1.split{ font-size: 11rem; }
    .visual .visual_txt p{ font-size: 1.8rem; }
    .visual .visual_img{ max-height: 85vh; }
}

@media (max-width: 950px) {
    .visual .inner{ top: 25vh; left: 75%; }
    .visual .visual_txt{ top: 50%; left: 30px; }
    .visual .visual_txt h1.split{ line-height: 1.1; padding-top: 14px; text-align: left; display: flex; flex-wrap: wrap; white-space: nowrap; }
    .visual .visual_txt h1.split .space{ flex-basis: 100%; width: 100%; height: 0; }
    .visual .visual_txt p{ font-size: 1.6rem; }
    .visual .visual_img{ max-height: 75vh; }
}

@media (max-width: 850px) {
  .visual .inner{ top: 35vh; left: 80%; }
  .visual .visual_txt{ top: 60%; left: 5%; }
  .visual .visual_txt h1.split{ font-size: 10rem; }
  .visual .visual_img{ max-height: 65vh; }
}

@media (max-width: 650px) {
  .visual .inner{ top: 34vh; left: 50%; transform: translate(-48%, 0); }
  .visual .visual_txt{ left: 50%; top: 23%; transform: translate(-50%,-50%); }
  .visual .visual_txt h1.split{ font-size: 7.5rem; justify-content: center; text-align: center; }
  .visual .visual_txt p{ font-size: 1.4rem; text-align: center; }
  .visual .visual_img{ max-height: 65vh; }
}




/* about */
.about{ position: relative; margin: 200px auto; }
.about .txt_center{ width: 100%; display: grid; grid-template-columns: 680px auto; gap: 120px; }

.about .about_left{ padding: 195px 120px 180px; line-height: 1.4; display: flex; flex-direction: column; background: #FFF2E5; }
.about .about_left h4{ font-size: 3.2rem; padding-bottom: 8px; }
.about .about_left span{ font-weight: 400; }
.about .about_left p{ padding: 4px 0; font-size: 1.6rem; }
.about .about_img{ padding-top: 20px; }
.about .about_img img{ width: 90%; height: auto; display: block; }

.about .about_right{ padding: 195px 0 180px; }
.about .about_right .top{ display: grid; grid-template-columns: 450px 450px; gap: 50px; padding-bottom: 50px; }
.about .about_right h5{ font-size: 4.8rem; font-family: var(--sub-font); font-weight: 800; opacity: 0.9; -webkit-text-stroke: 0.5px var(--main-color); padding-bottom: 8px; line-height: 1.2; }
.about .about_right ul li{ padding-bottom: 14px; }
.about .about_right ul li span{ display: block; font-size: 1.4rem; opacity: 0.4; font-weight: 700; }

.about .about_right ul li a{ position: relative; overflow: hidden; display: inline-flex; align-items: center; padding: 12px 24px 9px 58px; border: 2px solid rgba(38, 38, 38, 0.9); border-radius: 54px; font-weight: 700; margin-top: 16px; color: var(--main-color); line-height: 1; z-index: 2; }
.about .about_right ul li a .bg{ position: absolute; left: 0; top: 0; height: 100%; width: 0; background: var(--main-color); border-radius: 54px; transform-origin: left center; transition: width 0.9s cubic-bezier(0.22,1,0.36,1); z-index: 0; opacity: 1; }
.about .about_right ul li a .notion{ position: absolute; left: 36px; top: 50%; transform: translate(-50%, -50%); width: 24px; height: 24px; background: url(../image/main/btn_resume.png)no-repeat center / contain; transition: left 0.8s cubic-bezier(0.22,1,0.36,1), filter 0.45s ease; z-index: 3; opacity: 1; }
.about .about_right ul li a .re{ position: relative; z-index: 2; transition: opacity 0.2s ease 0.1s; opacity: 1; font-size: 1.6rem; font-family: var(--sub-font); }

.about .about_right ul li a:hover .bg{ width: 100%; }
.about .about_right ul li a:hover .notion{ left: 50%; filter: invert(1); }
.about .about_right ul li a:hover .re{ opacity: 0; }

.about .about_right ul li p{ display: inline-block; opacity: 0.7; line-height: 1.2; font-weight: 600; }
.about .about_right ul li .tr{ /* transform: translateY(9px); */ word-break: keep-all; vertical-align: top; width: calc(100% - 200px); }
.about .about_right ul li p:first-of-type{ font-size: 2.4rem; }
.about .about_right ul li p:first-of-type:not(.num)::after{ content: ""; display: inline-block; background: var(--main-color); width: 1.5px; height: 18px; margin: 0 10px; vertical-align: middle; opacity: 0.3; }
.about .about_right .bottom{ display: grid; grid-template-columns: 450px 450px; gap: 50px; }
.skills ul{ display: flex; flex-wrap: wrap; }
.skills ul li{ padding: 0 16px 10px 0; }
.skills ul li img{ width: auto; height: 30px; filter: drop-shadow(0.8px 0.8px 1px rgba(38,38,38,0.5)); }

@media (max-width: 1540px) {
  .about .txt_center{ grid-template-columns: 500px auto; gap: 70px; }
  .about .about_left{ padding: 100px 70px; }
  .about .about_left h4{ font-size: 2.8rem; }
  .about .about_left p{ word-break: keep-all; }
  .about .about_left p br{ display: none; }
  .about .about_img{ padding-top: 10px; }
  .about .about_img img{ width: 85%; }
  .about .about_right{ padding: 100px 0; }
  .about .about_right .top, .about .about_right .bottom{ grid-template-columns: 420px 400px; gap: 32px; }
  .about .about_right .top{ padding-bottom: 32px; }
  .about .about_right h5{ font-size: 3rem; }
  .about .about_right ul li{ padding-bottom: 8px; }
  .about .about_right ul li a{ padding: 14px 24px 12px 58px; font-size: 1.6rem; }
  .about .about_right ul li p:first-of-type{ font-size: 2rem; }
  .skills ul li{ padding-bottom: 10px; }
}

@media (max-width: 1200px) {
  .about .txt_center{ grid-template-columns: 1fr; gap: 60px; }
  .about .about_left{ display: grid; grid-template-columns: 550px auto; gap: 100px; align-items: center; padding: 100px; }
  .about .about_right .profile{ position: relative; }
  .about .about_right .profile ul li:last-child{ position: absolute; top: -100px; left: 0; }
  .about .about_left h4{ font-size: 3.2rem; }
  .about .about_img{ padding-top: 0; }
  .about .about_img img{ width: 100%; }
  .about .about_right{ padding: 100px; }
  .about .about_right h5{ font-size: 4rem; }
  .about .about_right ul li p:first-of-type{ font-size: 2.2rem; }
  .about .about_right .top, .about .about_right .bottom{ grid-template-columns: 450px auto; gap: 50px; }
}

@media (max-width: 1080px){
  .about{ margin: 150px auto; }
  .about .about_left{ padding: 70px; grid-template-columns: 500px auto; gap: 80px; }
  .about .about_right{ padding: 70px; }
  .about .about_right .top, .about .about_right .bottom{  gap: 40px; }
}

@media (max-width: 1070px){
  .about .about_right .top, .about .about_right .bottom{  gap: 30px; }
}

@media (max-width: 1060px){
  .about .about_right .top, .about .about_right .bottom{  grid-template-columns: 430px auto; gap: 20px; }
}

@media (max-width: 1050px){
  .about .about_right .top, .about .about_right .bottom{  grid-template-columns: 420px auto; }
}

@media (max-width: 1024px) {
  .about .about_left{ padding: 50px; grid-template-columns: 450px auto; gap: 50px; }
  .about .about_right{ padding: 50px; }
  .about .about_right h5{ font-size: 3.2rem; }
  .about .about_right ul li p:first-of-type{ font-size: 2rem; }
}

@media (max-width: 930px) {
  .about .about_left h4, .about .about_right h5{ font-size: 3rem; }
  .about .about_right ul li p:first-of-type{ font-size: 1.8rem; }
}

@media (max-width: 920px){
  .about .about_right h5{ font-size: 3rem; }
  .about .about_right .top, .about .about_right .bottom{  grid-template-columns: 410px auto; gap: 10px; }
}

@media (max-width: 850px) {
  .about .about_left h4, .about .about_right h5{ font-size: 2.4rem; }
  .about .about_right .top, .about .about_right .bottom{  grid-template-columns: 370px auto; }
  .about .about_right .top{ padding-bottom: 24px; }
}

@media (max-width: 744px) {
  .about .about_left{ grid-template-columns: 340px auto; gap: 30px; }
  .about .about_left h4{ font-size: 2rem; }
  .about .about_right ul li span{ font-size: 1.2rem; }
  .about .about_right .top, .about .about_right .bottom{  grid-template-columns: 350px auto; }
  .about .about_right ul li p:first-of-type{ font-size: 1.6rem; }
}

@media (max-width: 650px){
  .about{ margin: 100px auto; }
  .about .about_left{ display: flex; flex-direction: column; padding: 100px 50px; gap: 24px; }
  .about .about_left p{ font-size: 1.4rem; }
  .about .about_img img{ width: 90%; }
  .about .about_right{ padding: 50px 50px 0; }
  .about .about_right .top, .about .about_right .bottom{  display: flex; flex-direction: column; gap: 40px; }
  .about .about_right ul li p{ font-size: 1.4rem; }
  
}




/* move_txt */
.move_txt{ padding: 250px 0 200px; display: flex; align-items: center; gap: 40px; /* animation: flow 18s linear infinite; */ font-size: 16rem; font-family: var(--sub-font); font-weight: 800; letter-spacing: -3px; }
.move_txt div { display: flex; align-items: center; gap: 60px; }
.move_txt .txt1{ background-image: repeating-linear-gradient( -45deg, #FFFAF5, #FFFAF5 2px, #666 2px, #666 4px); background-clip: text; color: transparent; }
.move_txt .txt2{ font-family: var(--point-font); font-weight: 400; }

@media (max-width: 1540px) {
  .move_txt{ font-size: 12rem; gap: 60px; padding: 0; }
  .move_txt img{ width: 160px; }
}

@media (max-width: 1200px) {
  .move_txt{ font-size: 10rem; gap: 50px; }
  .move_txt img{ width: 140px; }
}

@media (max-width: 1024px) {
  .move_txt{ font-size: 8rem; gap: 35px; }
  .move_txt img{ width: 120px; }
}

@media (max-width: 850px) {
  .move_txt{ font-size: 6rem; gap: 30px; }
  .move_txt img{ width: 100px; }
}

@media (max-width: 650px) {
  .move_txt{ font-size: 4rem; gap: 20px; padding-bottom: 50px; }
  .move_txt div{ gap: 20px; }
  .move_txt img{ width: 60px; }
}




/* projects */
.projects{ padding-top: 50px; margin-top: 200px; }
.projects .pj-left{ display: grid; grid-template-columns: minmax(0, 70%) minmax(0, 1fr); gap: 60px; padding: 100px 0; }
.projects .pj-right{ display: grid; grid-template-columns: minmax(0, 1fr) minmax(0, 70%); gap: 60px; padding: 100px 0 100px; }

.projects .pj_thumb { width: auto; }
.projects .pj_thumb img{ display: block; width: 100%; height: 100%; border-radius: 40px; object-fit: cover; }

.projects .pj_txt{ display: flex; flex-direction: column; flex:1; white-space: nowrap; }
.projects .pj_txt{ white-space: normal; min-width: 0; }
.projects .pj-right .pj_txt{ text-align: right; }
.projects .pj_txt .txt_top{ margin-top: 8px; }
.projects .pj_txt .txt_top span{ position: relative; margin-right: 16px; opacity: 0.6; font-size: 1.8rem; }
.projects .pj-right .pj_txt .txt_top span:last-of-type{ margin-right: 0; }
.projects .pj_txt .txt_top span:not(:last-of-type)::after{ content: ""; position: absolute; right: -11px; top: 50%; transform: translateY(-50%); width: 4px; height: 4px; background: var(--main-color); opacity: 0.5; border-radius: 50%; }
.projects .pj_txt .txt_top p{ font-size: 2.4rem; font-weight: 600; opacity: 0.9; }

.projects .pj_txt .btn_more{ margin-top: 24px; display: flex; gap: 8px; }
.projects .pj-right .pj_txt .btn_more{ justify-content: end; }
.projects .pj_txt .txt_bottom{ margin-top: auto; }
.projects .pj_txt .txt_bottom p{ font-weight: 500; opacity: 0.9; font-size: 2rem; word-break: keep-all; }

@media (max-width: 1540px){
  .projects{ margin-top: 100px; padding-top: 0; }
  .projects .pj-left, .projects .pj-right{ gap: 50px; }
  .projects .pj_txt{ word-break: keep-all; }
  .projects .pj_txt .txt_top span{ font-size: 1.6rem; margin-right: 14px; }
  .projects .pj_txt .txt_top p{ font-size: 2rem; }
  .projects .pj_txt .txt_bottom{ white-space: normal; }
  .projects .pj_txt .txt_bottom br{ display: none; }
  .projects .pj_txt .txt_bottom p{ font-size: 1.8rem; }
}

@media (max-width: 1200px) {
  .projects .pj-left, .projects .pj-right{ gap: 40px; }
  .projects .pj_txt .txt_top span{ font-size: 1.4rem; margin-right: 9px; word-break: keep-all; }
  .projects .pj_txt .txt_top span:not(:last-of-type)::after{ width: 3px; height: 3px; right: -7px; }
  .projects .pj_txt .txt_bottom p{ font-size: 1.6rem; }
  .projects .pj_txt .txt_bottom p br{ display: none; }
}

@media (max-width: 1024px) {
  .projects .pj-left, .projects .pj-right{ gap: 30px; padding-top: 100px; display: flex; flex-direction: column; }
  .projects .pj_thumb{ max-width: 100%; }
  .projects .pj-left .btn_more{ justify-content: end; }
  .projects .pj-right .pj_txt{ order: 1; text-align: left; }
}

@media (max-width: 850px) {
  .projects .pj-left, .projects .pj-right{ gap: 20px; padding: 50px 0; }
  .projects .pj_thumb img{ border-radius: 36px; }
  .projects .pj_txt .txt_top span{ font-size: 1.4rem; }
  .projects .pj_txt .txt_top p{ font-size: 1.8rem; padding-bottom: 8px; }
  .projects .pj_txt .txt_bottom p{ font-size: 1.5rem; }
}

@media (max-width: 650px) {
  .projects{ margin-top: 0; }
  .projects .pj-left, .projects .pj-right{ gap: 15px; }
  .projects .pj_thumb img{ border-radius: 24px; }
}




/* graphic design */
.gd{ padding-top: 100px; text-align: center; margin-bottom: 200px; position: relative; }
.gd p{ font-size: 2.4rem; font-weight: 600; opacity: 0.9; }

.gd .gd_frame{ width: min(1100px, 82vw); aspect-ratio: 16 / 9; position: relative; margin: 32px auto; background: transparent; overflow: visible; }
.gd .gd_frame .gd_list{ width: 100%; height: 100%; overflow: hidden; border-radius: 40px; position: relative; }
.gd .gd_frame .gd_list .swiper-wrapper, .gd .gd_frame .gd_list .swiper-slide{ width: 100%; height: 100%; }

.gd .gd_list .gd_thumb{ display: block; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; }
.gd .gd_list .gd_thumb img{ width: auto; height: 100%; max-width: 100%; object-fit: contain; display: block; }

.gd .gd_frame .swiper-button-prev, .gd .gd_frame .swiper-button-next{ position: absolute; width: 40px; height: 80px; top: 50%; transform: translateY(calc(-50% + 20px)); color: transparent; }
.gd .gd_frame .swiper-button-prev{ background: url(../image/main/btn_prev.png)no-repeat center; left: -100px; }
.gd .gd_frame .swiper-button-next{ background: url(../image/main/btn_next.png)no-repeat center; right: -100px; }



@media (max-width: 1540px) {
  .gd p{ font-size: 2rem; }
  .gd .gd_frame{ width: min(900px, 50vw); margin: 24px auto; }
  .gd .gd_frame .swiper-button-prev, .gd .gd_frame .swiper-button-next{ transform: scale(0.8) translateY(calc(-50% + 15px)); }

}

@media (max-width: 1200px) {
  .gd{ padding-top: 200px; }
  .gd .gd_frame{ width: min(1000px, 80vw); }
  .gd .gd_frame .gd_list{ border-radius: 30px; }
  .gd .gd_frame .swiper-button-prev{ left: -70px; }
  .gd .gd_frame .swiper-button-next{ right: -70px; }
}

@media (max-width: 850px) {
  .gd{ padding-top: 150px; }
  .gd p{ font-size: 1.8rem; }
  .gd .gd_frame .swiper-button-prev{ left: -60px; }
  .gd .gd_frame .swiper-button-next{ right: -60px; }
  .gd .gd_frame .swiper-button-prev, .gd .gd_frame .swiper-button-next{ transform: scale(0.6) translateY(calc(-50% + 10px)); }
}

@media (max-width: 650px) {
  .gd{ padding-top: 100px; }
  .gd p{ font-size: 1.6rem; }
  .gd .gd_frame .swiper-button-prev{ left: -45px; }
  .gd .gd_frame .swiper-button-next{ right: -45px; }
  .gd .gd_frame .swiper-button-prev, .gd .gd_frame .swiper-button-next{ transform: scale(0.4) translateY(-50%); }
}
